.label-position {
    background-color: #43474d;
    background-position: center;
    background-repeat: no-repeat;
}

.label-position:hover,
.label-position:active,
.label-position:focus,
.label-position.active {
    background-color: #f97352;
}

.label-position-all {
    background-image: url('../lib/images/icon-position-all-wh.svg');
}

.label-position-top {
    background-image: url('../lib/images/icon-position-top-wh.svg');
}

.label-position-jungle {
    background-image: url('../lib/images/icon-position-jng-wh.svg');
}

.label-position-mid {
    background-image: url('../lib/images/icon-position-mid-wh.svg');
}

.label-position-adc {
    background-image: url('../lib/images/icon-position-bot-wh.svg');
}

.label-position-support {
    background-image: url('../lib/images/icon-position-sup-wh.svg');
}

/* for result */
.result {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    margin-bottom: 0;
}
.level {
    width: 65.1px;
    font-weight: 700;
}
.level small {
    font-weight: normal;
}
.icon {
    background-color: #f97352;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}
.vs img {
    max-width: 90%;
}