a {
    cursor: pointer;
}

label, select {
    cursor: pointer;
}

label:hover,
label:active,
label:focus,
label.active {
    background-color: #f97352;
    color: #fff;
}
.head-label:hover {
    background: inherit;
    color: #000;
}

.label-position-all {
    background-image: url('../lib/images/icon-position-all-wh.svg');
}

.label-position-top {
    background-image: url('../lib/images/icon-position-top-wh.svg');
}

.label-position-jungle {
    background-image: url('../lib/images/icon-position-jng-wh.svg');
}

.label-position-mid {
    background-image: url('../lib/images/icon-position-mid-wh.svg');
}

.label-position-adc {
    background-image: url('../lib/images/icon-position-bot-wh.svg');
}

.label-position-support {
    background-image: url('../lib/images/icon-position-sup-wh.svg');
}

.bg-grey-opacity {
    background-color: #f0f0f0d4;
}

.bg-dark-grey-opacity {
    background-color: #43474db3;
}

.label-position, .level-participant label {
    background-position: center;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-weight: 400;
    margin-bottom: 0;
    border-radius: 3px;
}

.label-position {
    background-color: #43474d;
}

.level-participant label:not(.active) {
    background-color: #fff;
    color: #555;
}

.nm-as-row {
    margin: 0 calc(-.5 * var(--bs-gutter-x));
}

.input-error {
  border: 1px solid red;  
}

.trash-icon {
    text-decoration: none;
    font-size: 22px;
    color: var(--bs-danger);
    position: relative;
    top: -2px
}

.share-link {
    font-size: 14px;
}

.audio-player {
    position: absolute;
    right: 60px;
    bottom: 35px;
    border: 1px solid;
    border-radius: 30px;
    background-color: #f1f3f4;
}

.level-config label {
    cursor: pointer;
}

.level-config label,
.level-config input {
    font-size: 1rem;;
    width: 36px;
    text-align: center;
} 

.participant-div .input-group {
    max-width: 208px;
}

.participant-div small {
    font-size: 12px;
}

.bgm-select {
    border-radius: 7px;
}

/* for result */
.result {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    margin-bottom: 0;
}
.level {
    width: 65.1px;
    font-weight: 700;
}
.level small {
    font-weight: normal;
}
.icon {
    background-color: #f97352;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}
.social-icon {
    max-width: 30px;
}
.vs img {
    max-width: 90%;
}

video {
    z-index: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter:grayscale(90%);
}

main {
    position: relative;
    z-index: 1;
    background-image: url('../lib/images/bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
}

.title, .rebalance-btn-container, .bg-dark-t {
    background-color: #00000066;
    
}

.covered-positions {
    min-width: 195px;
    position: relative;
}

.covered-positions.warning::after {
    content: 'Missing position';
    position: absolute;
    color: #fff;
    right: -150px;
}